results 4.3.3

In [1]:
import tensorflow as tf
import pandas as pd
import os
import numpy as np
import datetime as dt
from random import seed
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras import backend as K
tf.compat.v1.experimental.output_all_intermediates(True)

In [2]:
tf.random.set_seed(36)

In [3]:
BASE_DIR_PATH = '/Users/neilb/Documents/dsci_thesis/Datasets'
DATASET_FILE = os.path.join(BASE_DIR_PATH, 'compiled_data_2016_2017.csv')

In [4]:
df = pd.read_csv(DATASET_FILE)
df

,Unnamed: 0,index,Rainfall_Aries,Rainfall_Boso,Rainfall_Campana,Rainfall_Nangka,Rainfall_Oro,Waterlevel_Sto_Nino,Waterlevel_Montalban,Discharge_Sto_Nino,Discharge_San_Jose,Cross_Section_Sto_Nino,Cross_Section_Montalban,Velocity_Sto_Nino,Velocity_Montalban,datetime,t,x
0,0,0,0,1,2,0,0,12.18,21.03,21.033407,14.842428,803.88,630.9,0.026165,0.023526,2016-01-01 00:00:00,0.0,14420
1,1,1,0,1,1,1,0,12.19,21.03,21.280072,14.842428,804.54,630.9,0.026450,0.023526,2016-01-01 01:00:00,3600.0,14420
2,2,2,1,1,1,0,1,12.19,21.03,21.280072,14.842428,804.54,630.9,0.026450,0.023526,2016-01-01 02:00:00,7200.0,14420
3,3,3,0,0,0,1,0,12.20,21.03,21.529056,14.842428,805.20,630.9,0.026738,0.023526,2016-01-01 03:00:00,10800.0,14420
4,4,4,1,1,1,0,0,12.20,21.03,21.529056,14.842428,805.20,630.9,0.026738,0.023526,2016-01-01 04:00:00,14400.0,14420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,17515,16059,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 19:00:00,63140400.0,14420
17516,17516,16424,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 20:00:00,63144000.0,14420
17517,17517,16789,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 21:00:00,63147600.0,14420
17518,17518,17154,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 22:00:00,63151200.0,14420
17519,17519,17519,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 23:00:00,63154800.0,14420

In [5]:
df = df[['x', 'Discharge_Sto_Nino', 'Rainfall_Aries', 'Rainfall_Boso', 'Rainfall_Campana', 'Rainfall_Nangka', 'Rainfall_Oro', 'Waterlevel_Sto_Nino', 'Velocity_Sto_Nino']]
df.head(10)

,x,Discharge_Sto_Nino,Rainfall_Aries,Rainfall_Boso,Rainfall_Campana,Rainfall_Nangka,Rainfall_Oro,Waterlevel_Sto_Nino,Velocity_Sto_Nino
0,14420,21.033407,0,1,2,0,0,12.18,0.026165
1,14420,21.280072,0,1,1,1,0,12.19,0.026450
2,14420,21.280072,1,1,1,0,1,12.19,0.026450
3,14420,21.529056,0,0,0,1,0,12.20,0.026738
4,14420,21.529056,1,1,1,0,0,12.20,0.026738
5,14420,21.529056,0,0,1,0,0,12.20,0.026738
6,14420,21.780375,0,1,1,0,0,12.21,0.027027
7,14420,21.780375,0,0,0,0,0,12.21,0.027027
8,14420,21.780375,1,0,1,0,0,12.21,0.027027
9,14420,21.780375,0,0,0,0,0,12.21,0.027027

In [6]:
n = len(df)

In [7]:
df['friction_coeff'] = [0.033 for i in range(n)]
df['slope'] = [1/1500 for i in range(n)]
df.head()

C:\Users\neilb\AppData\Local\Temp\ipykernel_20352\1076625494.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['friction_coeff'] = [0.033 for i in range(n)]
C:\Users\neilb\AppData\Local\Temp\ipykernel_20352\1076625494.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['slope'] = [1/1500 for i in range(n)]

,x,Discharge_Sto_Nino,Rainfall_Aries,Rainfall_Boso,Rainfall_Campana,Rainfall_Nangka,Rainfall_Oro,Waterlevel_Sto_Nino,Velocity_Sto_Nino,friction_coeff,slope
0,14420,21.033407,0,1,2,0,0,12.18,0.026165,0.033,0.000667
1,14420,21.280072,0,1,1,1,0,12.19,0.026450,0.033,0.000667
2,14420,21.280072,1,1,1,0,1,12.19,0.026450,0.033,0.000667
3,14420,21.529056,0,0,0,1,0,12.20,0.026738,0.033,0.000667
4,14420,21.529056,1,1,1,0,0,12.20,0.026738,0.033,0.000667

In [8]:
# Splitting for time series: split into 50-25-25
train_df = df[0:int(n*0.5)]
val_df = df[int(n*0.5):int(n*0.75)]
test_df = df[int(n*0.75):]

In [9]:
class WindowGenerator():
    def __init__(self, input_width, label_width, shift, train_df=train_df, val_df=val_df, test_df=test_df, label_columns=None):
        # Store the raw data.
        self.train_df = train_df
        self.val_df = val_df
        self.test_df = test_df

        # Work out the label column indices.
        self.label_columns = label_columns
        if label_columns is not None:
            self.label_columns_indices = {name: i for i, name in enumerate(label_columns)}
        self.column_indices = {name: i for i, name in enumerate(train_df.columns)}

        # Work out the window parameters.
        self.input_width = input_width
        self.label_width = label_width
        self.shift = shift

        self.total_window_size = input_width + shift

        self.input_slice = slice(0, input_width)
        self.input_indices = np.arange(self.total_window_size)[self.input_slice]

        self.label_start = self.total_window_size - self.label_width
        self.labels_slice = slice(self.label_start, None)
        self.label_indices = np.arange(self.total_window_size)[self.labels_slice]

    def __repr__(self):
        return '\n'.join([
            f'Total window size: {self.total_window_size}',
            f'Input indices: {self.input_indices}',
            f'Label indices: {self.label_indices}',
            f'Label column name(s): {self.label_columns}'])

    def split_window(self, features):
        inputs = features[:, self.input_slice, :]
        labels = features[:, self.labels_slice, :]
        if self.label_columns is not None:
            labels = tf.stack([labels[:, :, self.column_indices[name]] for name in self.label_columns], axis=-1)

        # Slicing doesn't preserve static shape information, so set the shapes
        # manually. This way the `tf.data.Datasets` are easier to inspect.
        inputs.set_shape([None, self.input_width, None])
        labels.set_shape([None, self.label_width, None])

        return inputs, labels
    
    # Creating tf datasets for more convenient use and integration into model in the future
    def make_dataset(self, data):
        data = np.array(data, dtype=np.float32)
        ds = tf.keras.utils.timeseries_dataset_from_array(
            data=data,
            targets=None,
            sequence_length=self.total_window_size,
            sequence_stride=1,
            shuffle=True,
            batch_size=32,)

        ds = ds.map(self.split_window)

        return ds
    
    # properties to access them as tf datasets
    @property
    def train(self):
        return self.make_dataset(self.train_df)

    @property
    def val(self):
        return self.make_dataset(self.val_df)

    @property
    def test(self):
        return self.make_dataset(self.test_df)

    @property
    def example(self):
        """Get and cache an example batch of `inputs, labels` for plotting."""
        result = getattr(self, '_example', None)
        if result is None:
            # No example batch was found, so get one from the `.train` dataset
            result = next(iter(self.train))
            # And cache it for next time
            self._example = result
        return result

In [10]:
# The wide window uses independent hours of data as input to predict the water level of the next hour
# Here, the prediction is done on 6 hours
# This is used for Dense and Recurrent Neural Networks
wide_window = WindowGenerator(
        input_width=6, label_width=6, shift=1,
        label_columns=['Waterlevel_Sto_Nino', 'Velocity_Sto_Nino']
    )

wide_window

Total window size: 7
Input indices: [0 1 2 3 4 5]
Label indices: [1 2 3 4 5 6]
Label column name(s): ['Waterlevel_Sto_Nino', 'Velocity_Sto_Nino']

In [11]:
for example_inputs, example_labels in wide_window.train.take(1):
  print(f'Inputs shape (batch, time, features): {example_inputs.shape}')
  print(f'Labels shape (batch, time, features): {example_labels.shape}')

Inputs shape (batch, time, features): (32, 6, 11)
Labels shape (batch, time, features): (32, 6, 2)

In [12]:
# The conv window is used for the Convolutional Neural Netwrok
# 6 consecutive hours of data are used together to make predictions one hour into the future
CONV_WIDTH = 6
conv_window = WindowGenerator(
        input_width=CONV_WIDTH,
        label_width=1,
        shift=1,
        label_columns=['Waterlevel_Sto_Nino', 'Velocity_Sto_Nino']
    )

conv_window

Total window size: 7
Input indices: [0 1 2 3 4 5]
Label indices: [6]
Label column name(s): ['Waterlevel_Sto_Nino', 'Velocity_Sto_Nino']

In [13]:
for example_inputs, example_labels in conv_window.train.take(1):
  print(f'Inputs shape (batch, time, features): {example_inputs.shape}')
  print(f'Labels shape (batch, time, features): {example_labels.shape}')

Inputs shape (batch, time, features): (32, 6, 11)
Labels shape (batch, time, features): (32, 1, 2)

In [14]:
def r_square(y_true, y_pred):
    x = y_true
    y = y_pred
    mx = K.mean(x, axis=0)
    my = K.mean(y, axis=0)
    xm, ym = x - mx, y - my
    r_num = K.square(K.sum(xm * ym))
    x_square_sum = K.sum(xm * xm)
    y_square_sum = K.sum(ym * ym)
    r_den = (x_square_sum * y_square_sum) + K.epsilon()
    
    r = r_num / r_den
    return r

In [15]:
def NSE(y_true, y_pred):
    '''
    This is the Nash-Sutcliffe Efficiency Coefficient
    '''
    y_pred = K.flatten(y_pred)
    y_true = K.flatten(y_true)

    
    SS_res =  K.sum(K.square(y_true - y_pred)) 
    SS_tot = K.sum(K.square(y_true - K.mean(y_true))) 
    
    return ( 1 - SS_res/(SS_tot + K.epsilon()) )

In [16]:
# For easy compiling and fitting of different models
MAX_EPOCHS = 20

def compile_and_fit(model, window, patience=2):
    early_stopping = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=patience, mode='min')

    model.compile(
        loss=tf.keras.losses.MeanSquaredError(), 
        optimizer='adam', 
        metrics=[tf.keras.metrics.MeanSquaredError(), NSE, r_square]
    )

    history = model.fit(
        window.train, 
        epochs=MAX_EPOCHS,
        validation_data=window.val,
        callbacks=[early_stopping]
    )

    return history

In [17]:
# Dense Neural Network
dense = tf.keras.Sequential([
    tf.keras.layers.Dense(units=64, activation='relu'),
    tf.keras.layers.Dense(units=64, activation='relu'),
    tf.keras.layers.Dense(units=64, activation='relu'),
    tf.keras.layers.Dense(units=2)
])

# Convolution Neural Network
conv_model = tf.keras.Sequential([
    tf.keras.layers.Conv1D(filters=64, kernel_size=(CONV_WIDTH,), activation='relu'),
    tf.keras.layers.Dense(units=64, activation='relu'),
    tf.keras.layers.Dense(units=64, activation='relu'),
    tf.keras.layers.Dense(units=2),
])

# LSTM
lstm_model = tf.keras.models.Sequential([
    tf.keras.layers.LSTM(64, return_sequences=True),
    tf.keras.layers.Dense(units=64, activation='relu'),
    tf.keras.layers.Dense(units=64, activation='relu'),
    tf.keras.layers.Dense(units=2)
])

In [18]:
dense_history = compile_and_fit(dense, wide_window)

Epoch 1/20
274/274 [==============================] - 3s 5ms/step - loss: 6176.7407 - mean_squared_error: 6176.7407 - NSE: -159.3647 - r_square: 0.5846 - val_loss: 0.0681 - val_mean_squared_error: 0.0681 - val_NSE: 0.9981 - val_r_square: 0.4082
Epoch 2/20
274/274 [==============================] - 1s 4ms/step - loss: 1.2174 - mean_squared_error: 1.2174 - NSE: 0.9690 - r_square: 0.5644 - val_loss: 0.0855 - val_mean_squared_error: 0.0855 - val_NSE: 0.9976 - val_r_square: 0.3015
Epoch 3/20
274/274 [==============================] - 1s 4ms/step - loss: 0.7271 - mean_squared_error: 0.7271 - NSE: 0.9814 - r_square: 0.5114 - val_loss: 0.9194 - val_mean_squared_error: 0.9194 - val_NSE: 0.9742 - val_r_square: 0.2503

In [19]:
dense_history.history

{'loss': [6176.74072265625, 1.2174441814422607, 0.7271125912666321],
 'mean_squared_error': [6176.74072265625,
  1.2174443006515503,
  0.7271125912666321],
 'NSE': [-159.36474609375, 0.9690061807632446, 0.9814254641532898],
 'r_square': [0.5846207141876221, 0.5643889904022217, 0.5114443898200989],
 'val_loss': [0.06805288046598434, 0.08549248427152634, 0.9193784594535828],
 'val_mean_squared_error': [0.06805288791656494,
  0.08549243956804276,
  0.9193782210350037],
 'val_NSE': [0.9980943202972412, 0.997604489326477, 0.9742007255554199],
 'val_r_square': [0.4082362949848175, 0.301470011472702, 0.25033876299858093]}

In [20]:
conv_history = compile_and_fit(conv_model, conv_window)

Epoch 1/20
274/274 [==============================] - 2s 4ms/step - loss: 7423.1177 - mean_squared_error: 7423.1177 - NSE: -192.4261 - r_square: 0.1221 - val_loss: 0.1768 - val_mean_squared_error: 0.1768 - val_NSE: 0.9950 - val_r_square: 0.0699
Epoch 2/20
274/274 [==============================] - 1s 4ms/step - loss: 0.5465 - mean_squared_error: 0.5465 - NSE: 0.9860 - r_square: 0.2913 - val_loss: 0.0836 - val_mean_squared_error: 0.0836 - val_NSE: 0.9976 - val_r_square: 0.1526
Epoch 3/20
274/274 [==============================] - 1s 4ms/step - loss: 0.5049 - mean_squared_error: 0.5049 - NSE: 0.9870 - r_square: 0.3559 - val_loss: 0.0661 - val_mean_squared_error: 0.0661 - val_NSE: 0.9981 - val_r_square: 0.1919
Epoch 4/20
274/274 [==============================] - 1s 4ms/step - loss: 0.4049 - mean_squared_error: 0.4049 - NSE: 0.9896 - r_square: 0.4051 - val_loss: 0.3596 - val_mean_squared_error: 0.3596 - val_NSE: 0.9899 - val_r_square: 0.1885
Epoch 5/20
274/274 [==============================] - 1s 4ms/step - loss: 0.3633 - mean_squared_error: 0.3633 - NSE: 0.9906 - r_square: 0.4301 - val_loss: 0.4266 - val_mean_squared_error: 0.4266 - val_NSE: 0.9880 - val_r_square: 0.1981

In [21]:
lstm_history = compile_and_fit(lstm_model, wide_window)

Epoch 1/20
274/274 [==============================] - 6s 9ms/step - loss: 9.1052 - mean_squared_error: 9.1052 - NSE: 0.7619 - r_square: 0.0068 - val_loss: 0.2006 - val_mean_squared_error: 0.2006 - val_NSE: 0.9944 - val_r_square: 7.9556e-15
Epoch 2/20
274/274 [==============================] - 2s 6ms/step - loss: 0.2985 - mean_squared_error: 0.2985 - NSE: 0.9923 - r_square: 6.5093e-15 - val_loss: 0.2287 - val_mean_squared_error: 0.2287 - val_NSE: 0.9936 - val_r_square: 5.5807e-15
Epoch 3/20
274/274 [==============================] - 2s 6ms/step - loss: 0.2887 - mean_squared_error: 0.2887 - NSE: 0.9925 - r_square: 7.4223e-15 - val_loss: 0.2244 - val_mean_squared_error: 0.2244 - val_NSE: 0.9937 - val_r_square: 2.4065e-17

In [22]:
val_performance = {}
performance = {}

In [23]:
val_performance['Dense'] = dense.evaluate(wide_window.val)

137/137 [==============================] - 0s 2ms/step - loss: 0.9194 - mean_squared_error: 0.9194 - NSE: 0.9742 - r_square: 0.2765

In [24]:
performance['Dense'] = dense.evaluate(wide_window.test, verbose=0)

In [25]:
val_performance['Conv'] = conv_model.evaluate(conv_window.val)

137/137 [==============================] - 0s 2ms/step - loss: 0.4266 - mean_squared_error: 0.4266 - NSE: 0.9880 - r_square: 0.2143

In [26]:
performance['Conv'] = conv_model.evaluate(conv_window.test, verbose=0)

In [27]:
val_performance['LSTM'] = lstm_model.evaluate(wide_window.val)

137/137 [==============================] - 1s 4ms/step - loss: 0.2244 - mean_squared_error: 0.2244 - NSE: 0.9937 - r_square: 1.1802e-17

In [28]:
performance['LSTM'] = lstm_model.evaluate(wide_window.test, verbose=0)

In [29]:
val_performance

{'Dense': [0.919378399848938,
  0.9193782806396484,
  0.974188506603241,
  0.276549756526947],
 'Conv': [0.426554799079895,
  0.426554799079895,
  0.9880278706550598,
  0.21425434947013855],
 'LSTM': [0.22438043355941772,
  0.22438029944896698,
  0.9937006831169128,
  1.1802093038717779e-17]}

In [30]:
performance

{'Dense': [0.6607259511947632,
  0.6607257723808289,
  0.9834353923797607,
  0.512292742729187],
 'Conv': [0.3954192101955414,
  0.3954192101955414,
  0.9900932312011719,
  0.4649512469768524],
 'LSTM': [0.22673015296459198,
  0.22673019766807556,
  0.9943376779556274,
  1.527197922357666e-17]}

In [31]:
print('test')

test